[submodule "plugins/emacs-project-mode"]
	path = plugins/emacs-project-mode
	url = git://github.com/timfel/emacs-project-mode.git
[submodule "plugins/rsense"]
	path = plugins/rsense
	url = git://github.com/m2ym/rsense.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
