.dap-breakpoints
.lsp-session-v1*
.extension
.cache/lsp
.cache/treemacs*
workspace
eclipse.jdt.ls
elpa/ace-window-20220911.358/
elpa/
auto-save-list/
eshell/
org-persist/
transient/
*.desktop
*.desktop.lock
ido.last*
projects
recentf
tramp
multisession/
tutorial/
url/
bookmarks
.#*
.aider*
