.dap-breakpoints
.lsp-session-v1*
.extension
.cache/lsp
.cache/treemacs*
workspace
eclipse.jdt.ls
elpa/ace-window-20220911.358/
elpa/
auto-save-list/
eshell/
org-persist/
transient/
*.desktop
*.desktop.lock
ido.last*
projects
recentf
tramp
multisession/
tutorial/
url/
bookmarks
.#*
.aider*
emacs-custom.el
/.agent-shell/
agent/history
request/curl-cookie-jar
*.elc
eln-cache/
lisp/ci-dashboard/
/server/server
/bin
/lsp-servers
/sixel-graphics-cache/
/oca-codex-login.stamp
/lisp/.dir-locals.el
/history
/forge-database.sqlite
/.cache/
/org-social-mentions
/v-social.org
