el-get/
elpa/
*.proj
init.el.before_*
url/
session.*
server/server
tramp
\#*\#
ac-comphist.dat
c64debugger
.dap-breakpoints
.lsp-session-v1
KickAss.jar
bookmarks
.emacs.desktop*
workspace
mspyls
eclipse.jdt.ls
ido.last
recentf
transient
.cache
